<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">

    <Properties>
        <Property name="CONSOLE_PATTERN">
            %color{%d{HH:mm:ss}}{white} %color{|}{dark_gray} %color{%level} %color{-}{dark_gray} %color{%msg}{white}%n%throwable{short}
        </Property>
        <Property name="FILE_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5level ${sys:PID}--- [%15.15t] %logger : %msg%n
        </Property>
    </Properties>

    <Appenders>
        <LoggingNode name="console">
            <PatternLayout pattern="${CONSOLE_PATTERN}" charset="UTF-8"/>
        </LoggingNode>
        <RollingFile name="file"
                     fileName="logs/application.log"
                     filePattern="logs/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${FILE_PATTERN}" charset="UTF-8"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="application-*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="de.polocloud" level="${sys:org.apache.logging.log4j.level:-info}" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>

        <Logger name="io.grpc" level="warn"/>
        <Logger name="io.netty" level="warn"/>
        <Logger name="com.zaxxer.hikari" level="warn"/>

        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
